{
  "plugins": ["@babel/syntax-dynamic-import"], // Importacion dinamica
  "presets": [[
      "@babel/preset-env", // Entorno predeterminado de traduccion
      { "modules": "auto" } // Deteccion automatica de Modulos
  ]]
}
