<section class="container card col-md-6 my-4 p-0">
    <h2 class="card-header">Error 404</h2>
    <p class="card-body m-0">No se encontro la ruta seleccionada</p>
    <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-primary" href="/">Volver a pagina principal</a>
    </div>
</section>