each p in posts
    article.card.container.my-4.p-0
        h2.card-header= p.title
        p.card-body= p.description
        div.card-footer.d-flex.justify-content-between
            p= p.price
            button.btn.btn-primary ver mas