section.card.container.my-4.p-0
    header.card-header
        h2= user.name
        p= user.email
    div.card-body
        ul.list-group.list-group-flush
            each item in user.address
                li.list-group-item= item    