html(lang="es")
    include ./partials/head.pug
    body
        include ./partials/header.pug
        include ./partials/nav.pug
        main
            if user
                include ./layouts/user.pug
            if posts 
                include ./layouts/posts.pug
        include ./partials/footer.pug